<div class='errors'><% if @error %>
  <%= @error %>
<% end %></div>

<%= form_for @user, url: sessions_path, :html => {:class => "add-game-form"} do |f| %>
  <%= f.label :username %>:
  <%= f.text_field :username %><br/>

  <%= f.label :password %>:
  <%= f.password_field :password %><br/>

  <%= f.submit "Sign in"  %>
<% end %>
