<% if @user.errors.any? %>
  <ul>
  <% for message_error in @user.errors.full_messages %>
    <li>* <%= message_error %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @user, url: users_path do |f| %>
  <%= f.label :first_name %>:
  <%= f.text_field :first_name %><br/>

  <%= f.label :last_name %>:
  <%= f.text_field :last_name %><br/>

  <%= f.label :username %>:
  <%= f.text_field :username %><br/>

  <%= f.label :password %>:
  <%= f.password_field :password %><br/>

  <%= f.submit "Sign up" %>
<% end %>
