<div id="profile">
	<div id="profile-head">
		<p><img src="<%= @user.image_url %>"></p>
		<p><%= @user.first_name %> <%= @user.last_name %></p>
		<p><%= @user.username %></p>
		<% if current_user && current_user.id == @user.id %>
			<%= link_to "Edit", edit_user_path(@user) %>
		<% end %>
	</div>

	<div id="profile-friends">
		<%= render partial: '/users/friends_list', locals: {user: @user} %>
	</div>


	<div id="profile-games">
		<h2>Games</h2>
		<ul>
		<% @user.games.each do |game| %>
			<%= render partial: '/games/game', locals: { game: game } %>
		<% end %>
		</ul>
	</div>
</div>
