<div id="profile">
<div id="profile-left">
	<div id="profile-head">
		<p><img src="<%= @user.image_url %>"></p>
		<p><%= @user.first_name %> <%= @user.last_name %></p>
		<p><%= @user.username %></p>
		<% if current_user && current_user.id == @user.id %>
			<%= link_to "Edit", edit_user_path(@user) %>
		<% end %>
	</div>

	<div id="profile-friends">
		<%= render partial: '/users/friends_list', locals: {user: @user} %>
	</div>
</div>

	<div id="profile-games">
		<h2>Games</h2>
		<!-- turn active record object into array for easier manipulation -->
		<% user_collection = [] %>
		<% @user.games.each do |game| %>
			<% user_collection << game %>
		<% end %>

		<table>
    <% until user_collection.empty? %>
      <tr class="row">
        <% 2.times do  %>
        	<% if user_collection.first %>
        		<%= render partial: '/games/game', locals: { game: user_collection.shift } %>
        	<% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
	</div>
</div>
