<div>
	<h3><img src="<%= game.image_url %>"><%= game.name %></h3>
	<p>Rating: <%= game.points %></p>
	<p>Players: <%= game.player_range %></p>
	<p>Play Time: <%= game.play_time %></p>
	<a href="#openModal-<%= game.name %>">Expand</a>

	<%= render "upvote", game: game %>
	<%= render "downvote", game: game %>
	<%= render "add_to_collection", game: game %>

		<!-- <button>Add to Collection</button> -->
</div>

<div id="openModal-<%= game.name %>" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<p><img src="<%= game.image_url %>"></p>
		<h3><%= game.name %></h3>
		<p>Player Range: <%= game.player_range %></p>
		<p>Play Time: <%= game.play_time %></p>
		<p><strong>Info:</strong><%= game.description %></p>
		<p>Categories:
			<% game.categories.each do |category| %>
			<a href="#"><%= category.name %></a>
			<% end %>
		</p>
		<p>Tags: <% game.tags.each do |tag| %>
			<a href="#"><%= tag.name %></a>
			<% end %></p>
		</div>
	</div>
</div>
<!-- to do: expand feature, figure out upvote, downvote, and cancel vote features -->

<!--
title
num_players
playtime
expand box button
add/remove game -->
