<div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1 center-in-div game-picture">
      <img src="<%= @game.image_url %>">
      <p class="norm-game-font">Current Votes: <%= @game.points %></p>
    </div>
    <div class="col-md-6 col-md-offset-1 center-in-div">
      <h2><%= @game.name %></h2>
      <p class="norm-game-font">Player range: <%= @game.player_range %></p>
      <p class="norm-game-font">Play time: <%= @game.play_time %></p>
      <ul>
        <h3><b>Categories:</b></h3>
        <% @game.categories.each do |category| %>
        <li class="norm-game-font"><%= category.name %></li>
        <% end %>
      </ul>
      <ul>
        <h3><b>Mechanics:</b></h3>
        <% @game.tags.each do |tag| %>
        <li class="norm-game-font"><%= tag.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-4 center-in-div">
      <h3><b>Game Description:</b></h3>
      <p class="norm-game-font"><%= @game.description %></p>
    </div>
  </div>
</div>
<% if @game.comments.length > 0 %>
<div class="row">
  <div class="col-md-6 col-md-offset-4 center-in-div">
    <ul>
      <h3><b>Comments:</b></h3>
      <% @game.comments.each do |comment| %>
      <li class="norm-game-font"><%= comment.text %>    by: <%= comment.commenter.username %><% if comment.commenter_id == current_user.id %>
          <%= link_to "Edit", edit_game_comment_path(@game, comment) %>
          <%= link_to 'Delete', [@game, comment],
              method: :delete %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
<%= link_to "Add Comment", new_game_comment_path(@game) %>
</div>
